{% extends 'base.html' %}
{% load static %}
{% block content %}
 <form id="form" class="p-5" action='' method="POST">
                    {% csrf_token %}
                        <div class="form-group ">
                            <div class="row" >
                                <div class="col-md-3">
                                    <label for="position">Должность</label>
                                    <input id='position' type="text" class="form-control" autofocus placeholder="">
                                </div>
                                <div class="col-md-2">
                                        <label for="category">Категория</label>
                                       <p>  <select id = "category" size="1" >
                                           <option value="рабочий">рабочий</option>
                                           <option value="служащий">служащий</option>
                                           <option value="специалист">специалист</option>
                                            </select>
                                       </p>
                                </div>
                                <div class="col-md-2">
                                    <label for="ID">ID</label>
                                    <input id="ID" type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <br>
                            <div class="row" >
                                 <div class="col-md-3">
                                    <div class="submit-btn mt-0">
                                        <button class="btn btn-primary" type="button" id='create_button'  onclick={update_position(position_id);}>Сохранить</button>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="submit-btn mt-0">
                                        <button class="btn btn-primary" type="button" id='delete_button'  onclick={delete_position(position_id)}>Удалить</button>
                                    </div>
                                 </div>
                            </div>
                        </div>
 </form>

<script src="{% static 'js/edit_position.js' %}"></script>

{% endblock %}